/* Color Theme Swatches in Hex */
.Woman-in-gloves-cleaning-grey-wall-with-rag-1-hex { color: #ACCAF2; }
.Woman-in-gloves-cleaning-grey-wall-with-rag-2-hex { color: #356B8C; }
.Woman-in-gloves-cleaning-grey-wall-with-rag-3-hex { color: #595958; }
.Woman-in-gloves-cleaning-grey-wall-with-rag-4-hex { color: #F26A1B; }
.Woman-in-gloves-cleaning-grey-wall-with-rag-5-hex { color: #F24F13; }

/* Color Theme Swatches in RGBA */
.Woman-in-gloves-cleaning-grey-wall-with-rag-1-rgba { color: rgba(171, 202, 242, 1); }
.Woman-in-gloves-cleaning-grey-wall-with-rag-2-rgba { color: rgba(53, 106, 140, 1); }
.Woman-in-gloves-cleaning-grey-wall-with-rag-3-rgba { color: rgba(89, 89, 88, 1); }
.Woman-in-gloves-cleaning-grey-wall-with-rag-4-rgba { color: rgba(242, 105, 26, 1); }
.Woman-in-gloves-cleaning-grey-wall-with-rag-5-rgba { color: rgba(242, 78, 19, 1); }

/* Color Theme Swatches in HSLA */
.Woman-in-gloves-cleaning-grey-wall-with-rag-1-hsla { color: hsla(213, 73, 81, 1); }
.Woman-in-gloves-cleaning-grey-wall-with-rag-2-hsla { color: hsla(202, 44, 37, 1); }
.Woman-in-gloves-cleaning-grey-wall-with-rag-3-hsla { color: hsla(56, 0, 34, 1); }
.Woman-in-gloves-cleaning-grey-wall-with-rag-4-hsla { color: hsla(22, 89, 52, 1); }
.Woman-in-gloves-cleaning-grey-wall-with-rag-5-hsla { color: hsla(16, 89, 51, 1); }